body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

html {
  font-family: serif;
  font-size: 1rem;
  line-height: 1.5;
  color: black; }
  @media screen and (min-width: 20rem) {
    html {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 60); } }
  @media screen and (min-width: 80rem) {
    html {
      font-size: 1.5rem; } }
